<div class="container">
  <div class="content">
    <app-title title="Order Summary" fontSize="1.6rem"></app-title>
    <div class="summary">
      <div>
        <h3>Name:</h3>
        <span>{{order.name}}</span>
      </div>
      <div>
        <h3>Address:</h3>
        <span>{{order.address}}</span>
      </div>
    </div>
    <order-items-list [order]="order"></order-items-list>
  </div>
  <div class="map">
    <app-title
    title="Shipping Address"
    fontSize="1.6rem"></app-title>
    <map [order]="order" [readonly]="true"></map>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <!-- <paypal-button [order]="order">
      </paypal-button> -->
      <button type="button" style="display: inline-block;
      width: -webkit-fill-available;
      font-size: larger;
      border-radius: 4px;
      background: #009cde;
      border: none;
      color: white;
      font-weight: bolder;
      box-shadow: 0 0 8px 4px;
      color: white;
    background-color: #e72929;
    width: 100%;
    height: 3rem;
    opacity: 0.8;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px grey;" class="btn btn-info btn-lg btn-block payment-btn " (click)="payNow()">Pay amount</button>

    </div>
  </div>
</div>


